.history
__pycache__
.pytest_cache/
*.pyc
*~
.eggs/
artifacts/address.json
/venv/
ocean_lib.egg-info/
/build/
/contracts/
/interfaces/
/reports/
/tests/generated-readmes/test*

.coverage
.tox/
consume-downloads/
coverage.xml
