##
## Copyright 2023 Ocean Protocol Foundation
## SPDX-License-Identifier: Apache-2.0
##
repos:
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    - id: isort
-   repo: https://github.com/psf/black
    rev: 'refs/tags/22.6.0:refs/tags/22.6.0'
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
-   repo: https://github.com/johann-petrak/licenseheaders.git
    rev: v0.8.8
    hooks:
    - id: licenseheaders
      args: ["-t", ".copyright.tmpl", "-f"]
