development:
  - name: development
    chainid: 8996
    host: http://127.0.0.1:8545
    id: development
live:
  - name: mumbai
    networks:
      - chainid: 80001
        host: https://rpc-mumbai.maticvigil.com
        id: mumbai
  - name: polygon
    networks:
      - chainid: 137
        host: https://polygon-rpc.com
        id: polygon
