/*
Copyright 2021 Ocean Protocol Foundation
SPDX-License-Identifier: Apache-2.0
*/
@import url("alabaster.css");

a.reference {
    text-decoration: none;
    border-bottom: none;
}

a.reference:hover {
    border-bottom: none;
}
