##
## Copyright 2022 Ocean Protocol Foundation
## SPDX-License-Identifier: Apache-2.0
##
name: Ocean.py multiple OS

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: ['3.8', '3.10', '3.11']
    steps:
      - name: Setup Ocean.py
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version }}
      - name: Install pypa/build
        run: >-
          python -m
          pip install
          build
          --user
      - name: Build a binary wheel and a source tarball
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
      - name: Install Mac OS specific dependencies
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          brew install autoconf automake libtool pkg-config
      - name: Install dependencies
        working-directory: ${{ github.workspace }}
        # vyper is grounded here until it declares explicit support for Python 3.11
        run: |
          python -m pip install --upgrade pip
          pip install vyper==0.3.7 --ignore-requires-python
          pip install -r requirements_dev.txt
